<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container navbar">
      <div class="navbar-nav me-auto">
        <a class="nav-link active navbar-brand" href="{% url 'home' %}">Inicio</a>
        <a class="nav-link" href="{% url 'presupuestos' %}">Presupuestos</a>
        <a class="nav-link" href="{% url 'transacciones' %}">Transacciones</a>
        <a class="nav-link" href="{% url 'categorias' %}">Categorías</a>
      </div>
      <form action="{% url 'logout' %}" method="post" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger">Cerrar Sesión</button>
      </form>
    </div>
  </nav>

  <div class="container mt-4">
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <div class="row mt-4">
      <div class="col">
        <div class="card">
          <div class="card-body center">
            <h5 class="card-title">Saldo Actual</h5>
            <h2 class="text-center">${{ request.user.saldo }}</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Presupuestos</h5>
            <p class="card-text">Gestiona tus presupuestos por categoría</p>
            <a href="{% url 'presupuestos' %}" class="btn btn-primary">Ver Presupuestos</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Transacciones</h5>
            <p class="card-text">Registra tus ingresos y gastos</p>
            <a href="{% url 'transacciones' %}" class="btn btn-primary">Ver Transacciones</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Categorías</h5>
            <p class="card-text">Administra las categorías de tus transacciones</p>
            <a href="{% url 'categorias' %}" class="btn btn-primary">Ver Categorías</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>